.calendar {
  color: $special-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.calendar__head {
  font-weight: 400;

  &--weekend {
    color: $calendar-weekend;
  }
}

.calendar__month {
  color: $special-blue-light;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.calendar__link {
  color: rgba($special-grey, 0.3);

  &--choosing {
    background-color: $special-blue-light;
    color: $white;
  }

  &--check {
    border: 2px solid $calendar-weekend;
  }

  &--enable-day {
    background-color: $basic-gray-light;
    color: $special-blue-light;
  }
}
