.first-group-buttons {
  display: block;
  color: $special-blue-light;
  background-color: $basic-yellow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  border-radius: 20px;

  &:hover {
    background-color: $special-yellow-dark;
    transition: 0.3s;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
    opacity: 1;
  }

  &--show {
    background-color: $basic-yellow;
    padding: 23px;
  }

  &--step {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
  }

  &--point {
    border: 3px solid $basic-scheme-t;
    background-color: transparent;
    padding: 22px;

    &:hover {
      background-color: $basic-scheme-t;
      color: white;
      transition: color 0.3s, background-color 0.3s;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}
