.roadmap__item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  width: 270px;
  min-height: 140px;
  padding-top: 22px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.roadmap__item:first-child {
  background-color: $specialOrange;
}

.roadmap__item:nth-child(2) {
  background-color: $basicRoadmap2;
}

.roadmap__item:nth-child(3) {
  background-color: $specialYellowDark
}

.roadmap__item:last-child {
  background-color: $basicYellow;
  min-height: 80px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roadmap__item:not(:first-child) {
  margin-top: -60px;
}
