.scheme {
  background-color: #192144;
}

.scheme__roadmap-action {
  background-color: $basic-blue;
  padding-top: 48px;
}

.scheme__01 {
  background-color: $basic-scheme-t;
}

.scheme__text,
.scheme__quote {
  padding: 0;
  margin: 0;
}

.scheme__quote {
  color: $white;
  width: 161px;
  margin-bottom: 29px;
}

.scheme__text,
.scheme__main-editor {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.scheme__main-editor {
  font-weight: bold;
}

.scheme__text {
  margin-bottom: 18px;
}

.scheme__service {
  background-color: $basic-blue-service;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  padding-top: 33px;
  padding-bottom: 90px;
}

.scheme__title-serivce {
  color: $special-orange;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 20px 0;
}

.scheme__paragraph-service,
.scheme__paragraph-serivce-add {
  color: $white;
  width: 209px;
  padding: 0;
  margin: 0;
}

.scheme__paragraph-service {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}

.scheme__paragraph-serivce-add {
  font-weight: bold;
}

.scheme__roadmap-list {
  padding-bottom: 40px;
}
