/* Основные цвета */
$main-color: #182044;
$basic-blue: #161c35;
$basic-light: #edeff6;
$basic-yellow: #ffd74b;
$special-blue-light: #1d2e5b;
$special-light: #dfe3f0;
$special-yellow-dark: #ffbd30;
$opacity-yellow: #f3c72b;
$special-grey: #444444;
$special-red: #f47e7e;
$special-orange: #ff8d30;
$special-page: #e5e5e5;
$white: #ffffff;
$black: #000000;

/* Дополнительные */
$basic-menu: #182044;
$basic-scheme: #161c35;
$basic-scheme-t: #192144;
$basic-gray-light: #edeff6;
$basic-roadmap2: #ffa530;
$basic-blue-service: #141b3b;
$basic-gray: #e6e8f1;
$basic-parametrs: #d4d9eb;
$calendar-weekend: #ff5c23;
