/* Основные цвета */
$mainColor: #182044;
$basicBlue: #161c35;
$basicLight: #edeff6;
$basicYellow: #ffd74b;
$specialBlueLight: #1d2e5b;
$specialLight: #dfe3f0;
$specialYellowDark: #ffbd30;
$opacityYellow: #f3c72b;
$specialGrey: #444444;
$specialRed: #f47e7e;
$specialOrange: #ff8d30;
$specialPage: #e5e5e5;
$white: #ffffff;
$black: #000000;

/* Дополнительные */
$basicMenu: #182044;
$basicScheme: #161c35;
$basicSchemeT: #192144;
$basicGrayLight: #edeff6;
$basicRoadmap2: #ffa530;
$basicBlueService: #141b3b;
$basicGray: #e6e8f1;
$basicParametrs: #d4d9eb;
$calendarWeekend: #ff5c23;

/* Фишки */
$uppercase: uppercase;
