/* Основные цвета */
$mainColor: #182044;
$basicBlue: #161C35;
$basicLight: #EDEFF6;
$basicYellow: #FFD74B;
$specialBlueLight: #1D2E5B;
$specialLight: #DFE3F0;
$specialYellowDark: #FFBD30;
$opacityYellow: #F3C72B;
$specialGrey: #444444;
$specialRed: #F47E7E;
$specialOrange: #FF8D30;
$specialPage: #E5E5E5;
$white: #ffffff;
$black: #000000;

/* Дополнительные */
$basicMenu: #182044;
$basicScheme: #161C35;
$basicSchemeT: #192144;
$basicGrayLight: #EDEFF6;
$basicRoadmap2: #FFA530;
$basicBlueService: #141B3B;
$basicGray: #E6E8F1;
$basicParametrs: #D4D9EB;
$calendarWeekend: #FF5C23;

/* Фишки */
$uppercase: uppercase;

